In [4]:
import pandas as pd
import numpy as np
a = 0.5
b = 0.1
df1 = pd.read_excel("ellipse_100.xlsx")
# dfs['Y_cord']= b*np.sqrt((1-((dfs['X_cord']-a)**2/(a)**2)))
for j in range (1,111):
    df1['Y_cord'] = b*np.sqrt((1-((df1['X_cord']-a)**2/(a**2))))
    df1.to_excel('ellipse_0{}.xlsx'.format(j),index=False)
    b = b + 0.01

     #Group  Point  X_cord    Y_cord  Z_cord
0         1      1    0.00  0.000000       0
1         1      2    0.01  0.037810       0
2         1      3    0.02  0.053200       0
3         1      4    0.03  0.064823       0
4         1      5    0.04  0.074464       0
..      ...    ...     ...       ...     ...
96        1     97    0.96  0.074464       0
97        1     98    0.97  0.064823       0
98        1     99    0.98  0.053200       0
99        1    100    0.99  0.037810       0
100       1    101    1.00  0.000000       0

[101 rows x 5 columns]